.hero {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('../src/images/streetlights.jpg');
    background-position: top;
    background-attachment: fixed;
    color: white;
}

#jumbotron-hr {
    background-color: white;
    margin-left: 0;
    margin-right: 7.5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.blog-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    border: 1px solid white;
    height: auto;
}

.p-blog {
    font-weight: 100;
}

.input-group {
    height: 20rem;
}

.input-group-text {
    background-color: black;
}

.form-control {
    background-color: black;
    border: none;
    color: white;
}

.form-control-center {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 25px;
}

.form-control:focus {
    color: white;
    background-color: black;
    border: none;
}

#text-align {
    text-align: center;
    margin-bottom: 1rem;
}

textarea {
    resize: none;
}


#InputElement {
    background-color: black;
    width: 60vw;
    margin-bottom: 2rem;
    border-radius: 15px;
}

.hr-style {
    width: 20rem;
    height: 1px;
    border-color: white;
}

#donate-button {
    align-self: center;
}

.btn {
    align-self: flex-end;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

#fixed {
    display: inline-block;
    position: absolute;
}


.blue {
    color: #2eb2ff;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.explanation-box {
    margin-right: 20px;
}